{# Affichage d'une cellule avec la value de l'élémnt correspondant #}
{% import "macro_table.html" as mactable %}

{%- macro macro_form_elements(el) -%}

{%- if el.type_element == "button" -%}
<!-- type button -->
<div class="meta">
  <button class="ui blue button crud-jquery-button" style="{{el.style}}" data-url="{{el.params.url}}"
    data-target="{{el.params.target}}">
    {{el.label_long}}
  </button>
</div>

{%- elif el.type_element == "checkbox" -%}
<!-- type checkbox -->
<div class="content">
  <h4>
    {%- if el.value == "1" -%}
    <i class="check square outline icon"></i> {{el.label_long}}
    {%- else -%}
    <i class="square outline icon"></i> {{el.label_long}}
    {%- endif -%}
  </h4>
</div>

{%- elif el.type_element == "image" -%}
<a class="ui link image crud-popup-image"
data-url="{{el.params.url}}"
title="{{el.params.title}}">
  <img src="{{el.params.src}}">
</a>
{%- if el.label_long -%}
<div class="content">
  <div class="center aligned description">
    <b>{{el.label_long}}</b>
  </div>
</div>
{%- endif -%}

{%- elif el.type_element == "list" -%}
<!-- type tag -->
<div class="description">
  <div class="meta">
    <span>{{el.label_long}}</span>
  </div>
</div>
<div class="header" style="min-height:1.5em;">
{%- for item in el.items -%}
{%- if item.key == el.value  -%}
<div class="ui large label" style="margin-bottom: 0.5em">{{item.label}}</div>
{%- endif -%}
{%- endfor -%}
</div>

{%- elif el.type_element == "radio" -%}
<!-- type tag -->
<div class="description">
  <div class="meta">
    <span>{{el.label_long}}</span>
  </div>
</div>
<div class="header" style="min-height:1.5em;">
{%- for item in el.items -%}
{%- if item.key == el.value  -%}
<div class="ui large label" style="margin-bottom: 0.5em">{{item.label}}</div>
{%- endif -%}
{%- endfor -%}
</div>

{%- elif el.type_element == "tag" -%}
<!-- type tag -->
<div class="description">
  <div class="meta">
    <span>{{el.label_long}}</span>
  </div>
</div>
<div class="header" style="min-height:1.5em;">
{%- for item in el.value | split(pat=",") -%}
{%- if item -%}
<div class="ui tag small label" style="margin-bottom: 0.5em">{{item}}</div>
{%- endif -%}
{%- endfor -%}
</div>

{%- elif el.type_element == "view" and tvs | length > 0 -%}
{%- set tv = tvs[el.params.viewid] -%}
</div><!-- /content -->
</div><!-- /card -->
<div class="card raised crud-card-view bee-width-{{el.width}} {{el.class}}" style="{{el.style}}">
  <div class="content crud-search-div" style="flex-grow: 0;">
    <!-- Recherche -->
    <div class="right floated meta">
      <i class="search link blue icon crud-search-active" style="margin-left: 0.5em;" title="Rechercher..."></i>
    </div>
    <div style="display: none" class="crud-search">
      <div class="ui icon input">
        <input class="crud-search-input-1" type="hidden" value="">
        <input type="text" class="crud-search-input" data-url="/search/{{appid}}/{{el.params.tableid}}/{{el.params.viewid}}"
          value="{{tvs[el.params.viewid].search}}" placeholder="Recherche...">
        <i class="circular search link icon crud-search-go" title="Rechercher"></i>
      </div>
      <i class="close link icon crud-search-close" title="Fermer recherche"></i>
    </div>
    <!-- /recheche -->
    {%- if tv.view.form_add -%}
    <button class="right floated circular ui plus blue icon button crud-jquery-url"
    data-url="/add/{{appid}}/{{el.params.tableid}}/{{el.params.viewid}}/{{tv.view.form_add}}{{tv.args}}"
    style="z-index: 1000; position: absolute; top: 2.5em; right: 2em; padding: 1em;"
    title="Ajouter un élément...">
      <i class="icon plus"></i>
    </button>
    {%- endif -%}
    <div class="header">
      <i class="large blue {{tv.view.icon_name}} icon"></i>&nbsp;
      {{el.label_long}}
    </div>
  </div>
  <div class="content" style="max-height: 500px;overflow-x: scroll;">
    {{ mactable::macro_table(tv=tv) }}

{%- else -%}
<!-- type autre -->
<div class="description">
  <div class="meta">
    <span>{{el.label_long}}</span>
  </div>
</div>
<div class="header" style="min-height:1.5em;">
  <span class="ui {{el.class}} text" style="{{el.style}}">
    {%- if el.format -%}{{el.format}}{%- else -%}{{el.value}}{%- endif -%}
  </span>
</div>
{%- endif -%}

{%- endmacro macro_form_elements -%}