{%- extends "tpl_base.html" -%}
{% import "tpl_edit_elements.html" as macros %}
{%- block title -%}
<span>&nbsp;<b>{{ application.title }}</b></span>
{%- endblock -%}

{%- block menu -%}{% include "tpl_menu.html" %}{%- endblock -%}

{%- block navigation -%}
<span style="float: left; margin-left: 1em;"><a href="{{back}}"><button><- retour
        <b>{{view.title}}</b> </button></a></span>
{%- endblock -%}

{%- block boutons -%}
<span style="float: right;">
  <button onclick="document.getElementById('myform').submit();">Ajouter</button></a>
</span>
{%- endblock -%}

{%- block content -%}
<h1>{{form.title}}</h1>
<form id="myform" action="/insert/{{appid}}/{{tableid}}/{{viewid}}/{{formid}}" method="post">
  <table>
    <tr>
      <td>
        <table>
          {%- for vel in form.velements -%}
          <tr>
            {%- if record[vel.elid] -%}
            {{ macros::edit_elements(el=record[vel.elid]) }}
            {%- endif -%}
          </tr>
          {%- endfor -%}
        </table>
      </td>
    </tr>
  </table>
</form>
{%- endblock -%}