{%- extends "tpl_base.html" -%}

{%- block title -%}<div class="header item">{{ application.title }}</div>{%- endblock -%}

{%- block menu -%}{% include "tpl_menu.html" %}{%- endblock -%}

{%- block boutons -%}
{%- if application.tables[tableid].views[viewid].form_add -%}
<a class="ui icon item crud-jquery-url" data-url="/add/{{appid}}/{{tableid}}/{{viewid}}/{{view.form_add}}">
  <i class="plus blue icon"></i>Ajouter un élément...
</a>
{%- endif -%}
{%- endblock -%}

{%- block actions -%}
{%- if application.tables[tableid].views[viewid].actions -%}
<div class="ui dropdown item">
  <i class="ellipsis vertical icon"></i>
  <div class="menu">
    {%- for action in application.tables[tableid].views[viewid].actions -%}
    <a class="item crud-jquery-action" data-confirm="{{action.with_confirm}}"
      data-url="/actionv/{{appid}}/{{tableid}}/{{viewid}}/{{loop.index}}">{{action.label}}</a>
    {%- endfor -%}
  </div>
</div>
{%- endif -%}
{%- endblock -%}

{%- block content -%}
<div class="ui container"{%- if in_footer -%} style="margin-bottom: 6em;height: 100%"{%- endif -%}>
  {% include "tpl_flash.html" %}
  {%- if application.tables[tableid].views[viewid].type_view == "table" -%}
  {% include "tpl_table.html" %}
  {%- elif application.tables[tableid].views[viewid].type_view == "card" -%}
  {% include "tpl_card.html" %}
  {%- endif -%}
</div>
<input type="hidden" id="crud_view" value="{{appid}}-{{tableid}}-{{viewid}}">
{%- endblock -%}