{%- extends "tpl_base.html" -%}
{% import "macro_table.html" as macros %}

{%- block title -%}<div class="header item">{{ view.title }}</div>{%- endblock -%}

{%- block menu -%}{% include "inc_menu.html" %}{%- endblock -%}

{%- block boutons -%}
{%- endblock -%}

{%- block actions -%}
{%- if application.tables[tableid].views[viewid].actions or application.tables[tableid].views[viewid].form_add -%}

{% set tv = tvs | first %}

{%- if not view.filters -%}
<div class="ui icon item crud-search-div">
  <!-- Recherche -->
  <i class="search link icon crud-search-active" title="Rechercher..."></i>
  <div style="display: none; white-space: nowrap;" class="crud-search">
    <div class="ui icon input">
      <input class="crud-search-input-1" type="hidden" value="">
      <input type="text" class="crud-search-input" data-url="/search/{{appid}}/{{tableid}}/{{viewid}}"
        value="{{tv.search}}" placeholder="Recherche...">
      <i class="circular search link icon crud-search-go" title="Rechercher"></i>
    </div>
    <i class="close link icon crud-search-close" title="Fermer la recherche"></i>
  </div>
</div>
{%- endif -%}
<div class="ui dropdown item">
  <i class="ellipsis vertical icon"></i>
  <div class="menu">
    {%- if application.tables[tableid].views[viewid].form_add -%}
    <a class="ui icon item crud-jquery-url" data-url="/add/{{appid}}/{{tableid}}/{{viewid}}/{{view.form_add}}">
      <i class="plus blue icon"></i>Ajouter un élément...
    </a>
    {%- endif -%}
    {%- for action in application.tables[tableid].views[viewid].actions -%}
    <a class="item crud-jquery-action" data-confirm="{{action.with_confirm}}"
      data-url="/actionv/{{appid}}/{{tableid}}/{{viewid}}/{{loop.index}}">{{action.label}}</a>
    {%- endfor -%}
  </div>
</div>
{%- endif -%}
{%- endblock -%}

{%- block content -%}

{% set tv = tvs | first %}

<div class="ui container" {%- if application.in_footer -%} style="margin-bottom: 6em;height: 100%" {%- endif -%}>
  {% include "inc_flash.html" %}
  <div class="crud-mobile-show ui label">
    {{view.title}}&nbsp;
    {%- if tv.trs | length == 0 -%}
    (aucun élément)
    {%- elif tv.trs | length == 1 -%}
    (1 élément)
    {%- else -%}
    ({{tv.trs|length}} éléments)
    {%- endif -%}
  </div>
  {%- if view.form_add -%}
  <button class="right floated circular ui large plus blue icon button crud-jquery-url"
    data-url="/add/{{appid}}/{{tableid}}/{{viewid}}/{{view.form_add}}" {%- if application.in_footer -%}
    style="z-index: 1000; position: fixed; bottom: 5em; right: 2em; padding: 1em;" {%- else -%}
    style="z-index: 1000; position: fixed; bottom: 2em; right: 2em; padding: 1em;" {%- endif -%}
    title="Ajouter un élément...">
    <i class="icon plus"></i>
  </button>
  {%- endif -%}
  <!-- FILTRES DE LA VUE -->
  {%- if view.filters -%}
  <form class="ui form" id="formFilter" method="POST" action="/filter/{{appid}}/{{tableid}}/{{viewid}}">
    <input id="resetfilter" name="resetfilter" type="hidden">
    <div class="fields">
      {%- for vel in tv.filters -%}
      <div class="bee-width-s field">
        {%- if vel.type_element == "tag" or vel.type_element == "list" or vel.type_element == "radio" -%}
        <select name="{{vel.elid}}" id="{{vel.elid}}" class="ui fluid search dropdown">
          <option value="">{{vel.label_short}}</option>
          {%- for item in vel.items -%}
          <option value="{{item.key}}" {% if item.key==vel.value %} selected{% endif %}>{{item.label}}</option>
          {%- endfor -%}
        </select>
        {%- else -%}
        <input type="text" name="{{vel.elid}}" id="{{vel.elid}}" placeholder="{{vel.label_short}}"
          value="{{vel.value}}">
        {%- endif -%}
      </div>
      {%- endfor -%}
      <div class="field">
        <button class="ui icon primary button" title="Sélectionner">
          <i class="search icon crud-filter-go"></i>
        </button>
      </div>
      <div class="field">
        <button class="ui icon primary button" title="Annuler la sélection">
          <i class="close icon crud-filter-clear"></i>
      </div>
      </button>
    </div><!-- end fields -->
  </form>
  {%- endif -%}
  <!-- TABLE -->
  {{ macros::macro_table(tv=tv) }}
</div>
{% include "inc_view_footer.html" %}
{%- endblock -%}
{%- block forms -%}
<input type="hidden" id="crud_view" value="{{appid}}-{{tableid}}-{{viewid}}">
{%- endblock -%}