{%- extends "tpl_base.html" -%}
{% import "tpl_edit_elements.html" as macros %}

{%- block title -%}{%- endblock -%}

{%- block menu -%}{% include "tpl_menu.html" %}{%- endblock -%}

{%- block navigation -%}
<a href="/view/{{appid}}/{{tableid}}/{{viewid}}" class="item" style="padding: 0.3em;">
  <i class="arrow left icon"></i>
  <div class="header item">{{view.title}}</div>
</a>
{%- endblock -%}

{%- block boutons -%}
<div class="item">
  <button class="ui labeled icon button crud-jquery-submit">
    <i class="check icon"></i>
    Enregistrer
  </button>
</div>
{%- endblock -%}

{%- block content -%}
<div class="ui container">
  {% include "tpl_flash.html" %}
  <!-- FORMULAIRE -->
  <div class="ui attached icon message">
    <i class="{%if form.icon_name%}{{form.icon_name}}{%else%}{{view.icon_name}}{%endif%} blue inbox icon"></i>
    <div class="content">
      <div class="header">&nbsp;{{form.title}}</div>
    </div>
  </div>
  <p></p>
  <form class= "ui form" id="myForm" action="/update/{{appid}}/{{tableid}}/{{viewid}}/{{formid}}/{{id}}" method="post">
    {% set_global card_on = 0 %}
    {%- for vel in form.velements -%}
      {%- if record[vel.elid].type_element == "card" -%}
      <!-- {{card_on}} -->
        {%- if card_on == 1 -%}</div>{%- endif -%}
        <div class="fields">{%- set_global card_on = 1 -%}
      {%- else -%}
        {{ macros::edit_elements(el=record[vel.elid]) }}
      {%- endif -%}
    {%- endfor -%}
    {%- if card_on == 1 -%}</div>{%- endif -%}
  </form>
</div>
{%- endblock -%}