{% extends "tpl_base.html" %}

{% block title %}
<span>&nbsp;<b>{{ application.title }}</b></span>
{% endblock %}

{% block menu %}
{% for tv in application.menu %}
<li><a
    href="/list/{{application.appid}}/{{tv.tableid}}/{{tv.viewid}}">{{application.tables[tv.tableid].views[tv.viewid].title}}</a>
</li>
{% endfor %}
{% endblock %}

{% block navigation %}
<span style="float: left;"><a href="/list/{{application.appid}}/{{tableid}}/{{viewid}}">[ <- ]</a></span>
{% endblock %}

{% block content %}
{% set vv = application.tables[tableid].views[viewid] %}
<h1>{{vv.title}}</h1>
<table>
  <tr>
    <td>
      <table>
      {% for el in vv.velements %}
      <tr>
        <td>{{el.elid}}</td>
        <td>{{record[el.elid].value}}</td>
      </tr>
      {% endfor %}
    </table>
    </td>
  </tr>
</table>
{% endblock %}