
{# Affichage d'une cellule avec la value de l'élémnt correspondant #}
{%- macro form_elements(el) -%}
{%- if el.type_element == "button" -%}
<td></td>
<td {% if el.style %}style="{{ el.style }}"{% endif %}{% if el.class %} class="{{ el.class }}"{% endif %}>
<button onclick="window.open('{{el.params.url | safe}}', '_self');">{{el.label_long}}</button>
</td>
{%- elif el.type_element == "checkbox" -%}
<td>{{el.label_long}}</td>
<td {% if el.style %}style="{{ el.style }}"{% endif %}{% if el.class %} class="{{ el.class }}"{% endif %}>
<input type="checkbox" {% if el.value == "1" %}checked{% endif %} disabled></input>
</td>
{%- elif el.type_element == "number" -%}
<td>{{el.label_long}}</td>
<td {% if el.style %}style="{{ el.style }}"{% else %}style="text-align: right;"{% endif %}
{% if el.class %} class="{{ el.class }}"{% endif %}>{{el.value}}</td>
{%- elif el.type_element == "checkbox" -%}
<td>{{el.label_long}}</td>
<td style="text-align: left;">[{{el.value}}]</td>
{%- elif el.type_element == "tag" -%}
<td>{{el.label_long}}</td>
<td {% if el.style %}style="{{ el.style }}"{% endif %}{% if el.class %} class="{{ el.class }}"{% endif %}>
    {%- for item in el.value | split(pat=",") -%}<span style="background-color: lightgrey; padding: 0.2em 0.1em">{{item}}</span>&nbsp;{%- endfor -%}
</td>
{%- else -%}
<td>{{el.label_long}}</td>
<td {% if el.style %}style="{{ el.style }}"{% endif %}{% if el.class %} class="{{ el.class }}"{% endif %}>
    {{el.value}}
</td>
{%- endif -%}
{%- endmacro form_elements -%}

