
{#
  AFFICHAGE D'UNE CELLULE D'UNE TABLE AVEC L'ÉLÉMENT
#}
{%- macro table_elements(el) -%}

{%- if el.type_element == "amount" -%}
<td class="ui {{el.col_align}} aligned {{el.class}}" style="{{el.style}}">{{el.format}}</td>
{%- elif el.type_element == "number" -%}
<td class="ui {{el.col_align}} aligned {{el.class}}" style="{{el.style}}">{{el.value}}</td>
{%- elif el.type_element == "checkbox" -%}
<td class="ui {{el.col_align}} aligned {{el.class}}" style="{{el.style}}">
<input type="checkbox" {% if el.value == "1" %}checked{% endif %} disabled></input>
</td>
{%- elif el.type_element == "tag" -%}
<td class="ui {{el.col_align}} aligned {{el.class}}" style="{{el.style}}">
    {%- for item in el.value | split(pat=",") -%}
    {%- if item -%}
    <div class="ui tag tiny label" style="margin-bottom: 0.5em;margin-right: 0.3em;">{{item}}</div>
    {%- endif -%}
    {%- endfor -%}
</td>
{%- else -%}
<td class="ui {{el.col_align}} aligned {{el.class}}" style="{{el.style}}">
{%- if el.format -%}{{el.format}}{%-else-%}{{el.value}}{%-endif-%}
</td>
{%- endif -%}

{%- endmacro table_elements -%}
